{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Cuentas</title>
{% endblock %}

{% block body %}

  <div id="detail"></div>
  <div class="lista">
    <h3>Cuentas</h3>
    <div class="subnav">
      <a class="w-button" href="#add">Agregar Cuenta</a>
      <input class="w-button export" name="cuentas" type="button" value="Exportar CSV">
      <input type="text" class="input w-input filtro" maxlength="256" name="search" placeholder="Buscar..." autocomplete="off" />
    </div>    
    <div class="row title">
      <div class="list-item indicador">
        <div><small>Aprobado</small></div>
      </div>
      <div class="list-item foto-container">
        <div>Usuario</div>
      </div>
      <div class="list-item w-hidden-small w-hidden-tiny">
        <div>Email</div>
      </div>
      <div class="list-item w-hidden-small w-hidden-tiny">
        <div>Nombre</div>
      </div>
      <div class="list-item csv-exclude">
        <div>Acción</div>
      </div>
    </div>
    <div id="list"></div>
  </div>

  <script id="item" type="text/x-jsrender">
    <div class="row" id="[[:key]]">
      <div class="list-item indicador">
        <div><span class="fa fa-check-square-o [[if data.aprobado]]aprobado[[/if]]"></span></div>
      </div>
      <div class="list-item foto-container">
        <div><div class="foto-sm"[[if data.foto]] style="background-image:url([[:data.foto]]);"[[/if]]><span class="fa fa-[[if data.administrador]]user-circle[[else data.seguridad]]user[[else]][[/if]]" title="[[if data.administrador]]Admin[[else data.seguridad]]Seguridad[[else]]Usuario[[/if]]"></span></div></div>
      </div>
      <div class="list-item w-hidden-small w-hidden-tiny">
        <div class="bind-entry" url="/cuentas/[[:~getKey()]]/[[:key]]"><span class="fa fa-external-link"></span> [[:data.email]]</div>
      </div>
      <div class="list-item w-hidden-small w-hidden-tiny">
        <div>[[:data.nombre]] [[:data.apellido]]</div>
      </div>
      <div class="list-item csv-exclude"><a class="text-link ver-item" href="#[[:key]]">Editar</a><a class="action eliminar text-link" data-key="[[:key]]" href="#">Eliminar</a>
      </div>
    </div>
  </script>

  <script id="form" type="text/x-jsrender">
    <div class="form-wrapper w-form2">
      <form class="w-clearfix" data-name="perfil" id="firebase-form" name="firebase-form" key="[[:key]]">
        <div class="w-col w-col-6">
          <h3>Cuenta</h3>

          <label for="Email-7">Aprobado</label>
          <div class="switch">
            <input name="aprobado" id="aprobado" class="cmn-toggle cmn-toggle-round" type="checkbox" value="1"[[if data && data.aprobado && data.aprobado == 1]] checked[[/if]]>
            <label for="aprobado"></label>
          </div>
          <label for="Email-7">Email</label>
          <input class="input w-input" maxlength="256" name="email" placeholder="ale@gmail.com" type="email" value="[[if data && data.email]][[:data.email]][[/if]]" required>

          <label for="telefono">Teléfono</label>
          <input class="input w-input" maxlength="256" name="telefono" placeholder="-" type="text" value="[[if data && data.telefono]][[:data.telefono]][[/if]]">

          <h3>Atributos</h3>

          <div class="w-col w-col-6">
            <label for="Email-7">Administrador</label>
            <div class="switch">
              <input name="administrador" id="administrador" class="cmn-toggle cmn-toggle-round" type="checkbox" value="1"[[if data && data.administrador && data.administrador == 1]] checked[[/if]]>
              <label for="administrador"></label>
            </div>        
          </div>
          <div class="w-col w-col-6">
            <label for="Email-7">Seguridad</label>
            <div class="switch">
              <input name="seguridad" id="seguridad" class="cmn-toggle cmn-toggle-round" type="checkbox" value="1"[[if data && data.seguridad && data.seguridad == 1]] checked[[/if]]>
              <label for="seguridad"></label>
            </div>        
          </div>
        </div>
        <div class="w-col w-col-6">
          <h3>Perfil</h3>
          <div class="w-col w-col-4">
            <figcaption class="foto" style="background-image:url([[if data && data.foto]][[:data.foto]][[else]]https://firebasestorage.googleapis.com/v0/b/lifeindev-808c2.appspot.com/o/images%2Fdummy_user.png?alt=media&token=9421354b-b0a2-4e8f-85d0-9fac6917e103[[/if]]);background-position: 0 0;background-size: cover;border-color:fff">
            </figcaption>
          </div>
          <div class="w-col w-col-8">
            <label for="Nombre">Nombre</label>
            <input id="Nombre" class="input w-input" maxlength="256" name="nombre" placeholder="Alejandro" type="text" value="[[if data && data.nombre]][[:data.nombre]][[/if]]" required>

            <label for="Apellido">Apellido</label>
            <input id="Apellido" class="input w-input" maxlength="256" name="apellido" placeholder="Ramirez" type="text" value="[[if data && data.apellido]][[:data.apellido]][[/if]]" required>
          </div>
          <div class="w-col w-col-12">
            <label for="Apellido">Dirección</label>
            <input class="input w-input" maxlength="256" id="direccion" name="direccion" placeholder="Av. Rivadavia 1234" type="text" value="[[if data && data.direccion]][[:data.direccion]][[/if]]">

            <label for="Unidad">Unidad</label>
            <input id="Unidad" class="input w-input" maxlength="256" name="unidad_funcional" placeholder="A" type="text" value="[[if data && data.unidad_funcional]][[:data.unidad_funcional]][[/if]]" required>

            <label for="Manzana">Manzana</label>
            <input id="Manzana" class="input w-input" maxlength="256" name="manzana_ufuncinal" placeholder="2A" type="text" value="[[if data && data.manzana_ufuncinal]][[:data.manzana_ufuncinal]][[/if]]" required>

            <label for="Piso">Piso</label>
            <input id="Piso" class="input w-input" maxlength="256" name="piso_manzana" placeholder="2" type="text" value="[[if data && data.piso_manzana]][[:data.piso_manzana]][[/if]]">
          </div>
        </div>
        <div class="w-col w-col-12">
          <input class="w-button cerrar" type="button" value="Cerrar">
          <input class="buttons w-button" data-wait="Guardando..." type="submit" value="Guardar cambios">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>  
  </script>

  <script id="email_subject" type="text/x-jsrender">
    Bienvenido a Life In
  </script>

  <script id="email_title" type="text/x-jsrender">
    Bienvenido [[:nombre]] a Life In
  </script>

  <script id="email_message" type="text/x-jsrender">
    Bienvenido [[:nombre]] a Life In. Tus datos de acceso son los siguientes. Nombre de usuario: [[:email]],Contraseña: [[:password]]
  </script>

{% endblock %}

{% block assets %}
  <script src="{{jspath}}/cuentas.js" type="text/javascript"></script>    
{% endblock %}