{% extends "layouts/plain.html" %}

{% block head %}
  <title>{{app_title}} Ingreso</title>
{% endblock %}

{% block body %}

  <div class="contenedor-login"><img class="logo" src="/images/LifeIn-White.png">
    <div class="login-form w-form">
      <form class="w-clearfix" data-name="Email Form" id="email-form" name="email-form">
        <h4>Ingresar sesión</h4>
        <label for="Email-2">email</label>
        <input class="input w-input" data-name="Email" id="email" placeholder="Ej: hola@LifeIn.com" required="required" type="email">
        <label for="password">contraseña</label>
        <input class="input w-input" id="password" maxlength="256" placeholder="******" required="required" type="password"><a class="text-link" href="recuperar-contrasena">Recuperar mi contraseña</a><a class="buttons right w-button login" href="#">Ingresar</a>
      </form>
      <div class="succes w-form-done">
        <div>Ingresando...</div>
      </div>
      <div class="w-form-fail">
        <div>Ui, tu email o contraseña no son correctos.</div>
      </div>
    </div>
  </div>

{% endblock %}