{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Menu</title>
{% endblock %}

{% block body %}

  <div class="sections-conteiner">
  </div>

  <script id="navlink" type="text/x-jsrender">
    <a class="item-home w-inline-block" href="[[:slug]]">
      <h1>[[:title]]</h1>
      <span class="badge[[if slug=='cotizaciones'||slug=='consultas'||slug=='audios']] responsable[[/if]]"></span>
    </a>
  </script>
  
{% endblock %}

{% block assets %}
  <script src="/js/menu.js" type="text/javascript"></script>    
{% endblock %}