{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Menu</title>
{% endblock %}

{% block body %}

  <div class="sections-conteiner">
    <a class="item-home w-inline-block" href="cuentas">
      <h1 class="heading-2">Cuentas</h1>
    </a>
    <a class="item-home w-inline-block" href="top10">
      <h1>Top 10</h1>
    </a>
    <a class="item-home w-inline-block" href="recomendadas">
      <h1>Recomendadas</h1>
    </a>
    <a class="item-home w-inline-block" href="consultas">
      <h1>Consultas</h1>
    </a>
    <a class="item-home w-inline-block" href="cotizaciones">
      <h1>Cotizaciones</h1>
    </a>
    <a class="item-home w-inline-block" href="audios">
      <h1>Audios</h1>
    </a>    
    <a class="item-home w-inline-block" href="paginas">
      <h1>Páginas</h1>
    </a>  
    <a class="item-home w-inline-block" href="glosario">
      <h1>Glosario</h1>
    </a>
  </div>

{% endblock %}

{% block assets %}
  <script src="/js/menu.js" type="text/javascript"></script>    
{% endblock %}