{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Reservas</title>
{% endblock %}

{% block body %}

    <div id="detail"></div>
    <div class="lista">
      <h3>Reservas</h3>
      <div class="subnav">
        <!--input class="w-button add-publicacion" type="button" value="Agregar Publicación"-->
        <input class="w-button export" name="cuentas" type="button" value="Exportar CSV">
        <input type="text" class="input w-input filtro" maxlength="256" name="search" placeholder="Buscar..." autocomplete="off" />
      </div>       

      <div class="row title">
        <div class="list-item">
          <div>Quien solicita</div>
        </div>
        <div class="list-item">
          <div>Espacio</div>
        </div>
        <div class="list-item">
          <div>Estado</div>
        </div>
        <div class="list-item w-hidden-small w-hidden-tiny">
          <div>Fecha</div>
        </div>
        <div class="list-item w-hidden-small w-hidden-tiny">
          <div>Fecha reserva</div>
        </div>        
        <div class="list-item">
          <div>Acción</div>
        </div>
      </div>
      <div id="list"></div>
    </div>

    <script id="item" type="text/x-jsrender">
      <div class="row" id="[[:key]]">
        <div class="list-item">
          <div class="bind-entry bind-icon" url="/cuentas/[[:~getKey()]]/[[:data.usuario_id]]">[[:data.nombre]]</div>
        </div>
        <div class="list-item">
          <div>[[:data.espacio]]</div>
        </div>
        <div class="list-item">
          <div><span class="[[if data.estado]]success[[else]]error[[/if]]-text">[[if data.estado]]Aprobado[[else]]Sin aprobar[[/if]]</span></div>
        </div>
        <div class="list-item w-hidden-small w-hidden-tiny">
          <div>[[:~easyDate(data.fecha)]]</div>
        </div>
        <div class="list-item w-hidden-small w-hidden-tiny">
          <div>[[:~easyDate(data.fecha_reserva)]]</div>
        </div>
        <div class="list-item"><a class="action ver text-link" data-key="[[:key]]" href="#">Ver / Editar</a><a class="action eliminar text-link" data-key="[[:key]]" href="#">Eliminar</a>
        </div>
      </div>
    </script>

    <script id="form" type="text/x-jsrender">
      <div class="form-wrapper w-form2">
        <form class="w-clearfix" data-name="perfil" id="firebase-form" name="firebase-form" key="[[:key]]">
          <h3>Editar reserva</h3>

          <label for="Email-7">Estado</label>
          <div class="switch">
            <input name="estado" id="estado" class="cmn-toggle cmn-toggle-round" type="checkbox" value="1"[[if data.estado && data.estado == 1]] checked[[/if]]>
            <label for="estado"></label>
          </div>

          <div class="w-col">
            <div class="w-col w-col-4 text-center" class="bind-entry" url="/cuentas/[[:~getKey()]]/[[:cuenta.id]]">
              <div class="foto center" style="background-image:url([[:cuenta.foto]])"></div>
              <h5>[[:cuenta.nombre]]</h5>
            </div>
            <div class="w-col w-col-4 text-center">
              <h3>[[:data.espacio]]</h3>
              <h5>[[:data.invitados]] invitados</h5>
            </div>
            <div class="w-col w-col-4 text-center">
              <div class="calendar-big">
                <h3 class="day">[[:~dateDay(data.fecha)]]</h3>
                <h5 class="mon">[[:~dateMon(data.fecha)]]</h5>
                <h3 class="hour">[[:~dateHour(data.fecha)]]</h3>                
              </div>
            </div>
          </div>

          <label for="content">Motivo de actualización</label>
          <textarea class="input w-input" name="texto" placeholder="Escriba brevemente el motivo de actualización. Si se habilita la reserva o se cancela se notificará al usuario."></textarea>

          <input class="w-button cerrar" type="button" value="Cerrar">
          <input class="buttons w-button" data-wait="Guardando..." type="submit" value="Guardar cambios">
        </form>
      </div>  
    </script>

{% endblock %}

{% block assets %}
    <script src="/js/reservas.js" type="text/javascript"></script>    
{% endblock %}