{% extends "layouts/email.html" %}

{% block body %}
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Nueva consulta desde la web</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <h2>Hola {{recipient.first_name}}, actualizamos tu contraseña</h2>
                        <p>De acuerdo con tu solicitud de cambio de contraseña generamos una nueva exclusivamente para vos. Si querés cambiar de nuevo tu contraseña podés ir las <a href="{{app_url}}/perfil-usuario/datos" target="_blank">opciones de tu perfil.</a></p>
                        <blockquote>
                          <p>Tu email: {{email}}</p>
                          <p>Tu nueva contraseña: {{password}}</p>
                        </blockquote>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="{{app_url}}" target="_blank">Ir a Ver Usados Ahora</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>
{% endblock %}              