{% extends "layouts/email.html" %}

{% block body %}
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Solicitaste ayuda con tu contraseña</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <h2>Hola {{recipient.first_name}}, alguien solicitó ayuda con tu contraseña</h2>
                        <p>Alguien, probablemente vos, solicitó una actualización de clave. Seguí el siguiente enlace si deseás cambiar tu contraseña. Si no fuiste vos el que solicitó ayuda o ya no deseas actualizar tu contraseña podés ignorar este correo.</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="{{app_url}}/actualizar-contrasena?token={{password_token}}" target="_blank">Actualizar Contraseña Ahora</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>
{% endblock %}              