{% extends "layouts/email.html" %}

{% block body %}
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Bienvenido {{recipient.first_name}} {{recipient.last_name}} a LifeIn!</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <h2>Bienvenido {{recipient.first_name}} {{recipient.last_name}} a LifeIn!</h2>
                        <p>Te damos la bienvenida a nuestro sitio.</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="{{api_url}}/validar/{{email_encoded}}" target="_blank">Validar mi cuenta ahora</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>Por favor guardá este email para acceder cuando quieras.</p>
                        <h3>Datos de acceso</h3>
                        <p>Usuario: {{recipient.email}}</p>
                        <p>Contraseña: {{readable_password}}</p>
                        <p></p>
                        <p>Recuerda leer los <a href="https://LifeIn.com/terminos-y-condiciones">términos y condiciones antes de publicar</a>.</p>
                        <p>Puedes escribirnos a <a href="mailto:contacto@LifeIn.com">contacto@LifeIn.com</a> para cualquier duda o sugrencia o simplemente para obtener mas información acerca del sitio.</p>
                        <p></p>
                        <p>Cordialmente, el equipo <a href="https://LifeIn.com">LifeIn.com</a></p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>
{% endblock %}              