  

   
    <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="menu"></a>
        <nav class="w-nav-menu" role="navigation">
          <div class="w-dropdown">
            <div class="w-dropdown-toggle"><span class="session-status"></span> &nbsp; <img src="/images/icono-nombre.svg"></div>
            <div class="w-dropdown-list">
            {% if key != 's' %}
              <a class="w-dropdown-link preferencias custom" data-ix="showmodal" href="#">Preferencias</a>
            {% endif %}
              <a class="w-dropdown-link salir custom" href="#">Cerrar sesión</a>
            </div>
          </div>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>



