    
    <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="/"><img class="header-brand" src="images/LifeIn-White.png">
        </a>
        <nav class="w-nav-menu" role="navigation"><a class="w-nav-link" href="menu">Home</a><a class="w-nav-link salir" href="#">Cerrar sesión</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>