  

   
    <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="menu"></a>
        <nav class="w-nav-menu" role="navigation">
          <div class="w-dropdown">
            <div class="w-dropdown-toggle"><span class="session-status"></span> &nbsp; <img src="/images/icono-nombre.svg"></div>
            <div class="w-dropdown-list">
            {% if key != 's' %}
              <a class="w-dropdown-link preferencias custom" data-ix="showmodal" href="#">Preferencias</a>
            {% endif %}
              <a class="w-dropdown-link salir custom" href="#">Cerrar sesión</a>
            </div>
          </div>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>

    <div class="sections-conteiner">
    {% if key=='s' %}
      <a class="item-home w-inline-block" href="implementaciones">
        <h1>Implementaciones</h1>
      </a>
    {% else %}  
      <a class="item-home w-inline-block" href="cuentas">
        <h1 class="heading-2">Cuentas</h1>
      </a>
      <a class="item-home w-inline-block" href="publicaciones">
        <h1>Publicaciones</h1>
      </a>
      <a class="item-home w-inline-block" href="reservas">
        <h1>Reservas</h1>
      </a>
      <a class="item-home w-inline-block" href="autorizaciones">
        <h1>Autorizaciones</h1>
      </a>
      <a class="item-home w-inline-block" href="lostandfound">
        <h1>Lost & Found</h1>
      </a>
      <a class="item-home w-inline-block" href="propuestas">
        <h1>Propuestas</h1>
      </a>    
    {% endif %}  
    </div>    



