
  <script id="bind_entry" type="text/x-jsrender">
      <table class="bind-entry-table">
  [[props #data]]
      [[if prop.length]]
          <tr>
              <td align="right" width="50%"><strong>[[:key]]</strong>&nbsp;&nbsp;</td>
              <td align="left" width="50%">
          [[if ~isURL(prop)]]
              <div class="foto" style="background-image:url([[:prop]])"></div>
          [[else]]
              [[if key == 'email']]
                  <a href="mailto:[[:prop]]">
              [[/if]]
              [[if key == 'telefono']]
                  <a href="tel:[[:prop]]">
              [[/if]]
              [[:prop]]
              [[if key == 'telefono' || key == 'email']]
                  </a>
              [[/if]]
              </td>
          [[/if]]
          </tr>
      [[/if]]
  [[/props]]
      </table>
  </script>     
        
  <script id="layout" type="text/x-jsrender">

      body, .subnav { 
          font-family : "[[:~getLayoutProp('font',font)]]";
          background-color:[[:~getLayoutProp('colorfondo',colorfondo)]];
          color:[[:colortexto]]
      }

      a, .w-nav-link, .text-link, .session-status {
          color:[[:~getLayoutProp('colortexto',colortexto)]];
      }

      .navbar, .fondo { 
          background-image: url([[:~getLayoutProp('fondo',fondo)]]) 
      }

      .w-nav-brand, .foto { 
          border-color:[[:colorfondo]];
          background-image: url([[:~getLayoutProp('foto',foto)]]);
          box-shadow: 0 0 10px [[:~getLayoutProp('colorfondo',colorfondo)]];
      }

      .buttons, .item-home { 
          background:[[:~getLayoutProp('colorboton',colorboton)]];
          color:[[:~getLayoutProp('colortextoboton',colortextoboton)]];
      }
  </script>

  <script id="panico" type="text/x-jsrender">
    <div class="form-wrapper w-form2">
      <form class="w-clearfix">
        <div class="w-col w-col-12">
          <h1><span class="fa fa-exclamation-circle"></span> Alerta</h1>
          <h3>[[:fecha]]</h3>
          <h3>[[:nombre]]</h3>
          <h3>[[:telefono]]</h3>
        </div>
        <div class="w-col w-col-12">
          <input class="w-button" data-ix="hidemodal" type="button" value="Cerrar">
          <input id="panico_ok" key="[[:key]]" class="buttons w-button" data-wait="Guardando..." type="button" value="Apagar alarma">
        </div>
      </form>
    </div>
  </script>

  <script id="preferencias" type="text/x-jsrender">
    <div class="form-wrapper w-form2">
      <form class="publish__uploadimages--form" method="post" action="" enctype="multipart/form-data">
        <input hidden="true" class="photo" type="file" name="fondo" accept="image/*">
        <input hidden="true" class="photo" type="file" name="foto" accept="image/*">
      </form>

      <div class="publish__uploadimages--info"></div>

      <div class="publish__uploadimages--preview section-photos" style="background-color:[[:~getLayoutProp('colorfondo',layout?layout.colorfondo:'')]]">
        <div class="fondo link-fondo" style="background-image:url([[:~getLayoutProp('fondo',layout?layout.fondo:'')]]);background-position: center center;background-size: cover;">
          <div class="button-container"><a class="picture-button w-button" data-name="imagen_logo" href="#">Subi una foto de fondo</a>
            <p class="picture-span">Subí una imagen en jpg o png de 900px x 200px aprox.</p>
          </div>
        </div>
        <div class="foto abs link-foto" style="background-image:url([[:~getLayoutProp('foto',layout?layout.foto:'')]]);border-color:[[:~getLayoutProp('colorfondo',layout?layout.colorfondo:'')]]">
          <div class="button-container" style="position: relative;top: -40px; left: 120px;"><a class="picture-button w-button" data-name="foto" href="#">Subi una foto de perfil</a>
            <p class="picture-span">Subí una imagen en jpg o png de 100px x 100px aprox.</p>
          </div>
        </div>
        <div class="texto">
          <h3 style="color:[[:~getLayoutProp('colortexto',layout?layout.colortexto:'')]]">[[if data && data.titulo]][[:data.titulo]][[else]]Implementación[[/if]]</h3>
          <p style="color: [[:~getLayoutProp('colortexto',layout?layout.colortexto:'')]]">[[if data && data.descripcion]][[:data.descripcion]][[else]]Descripción de la implementación[[/if]]</p>
        </div>
        <div class="botones">
          <a class="item-home w-inline-block" href="#" style="color:[[:~getLayoutProp('colortextoboton',layout?layout.colortextoboton:'')]];background-color:[[:~getLayoutProp('colorboton',layout?layout.colorboton:'')]]">
            <h1 class="heading-2">Menú principal</h1>
          </a>
          <input class="buttons w-button" data-wait="Guardando..." type="button" value="Botón" style="color:[[:~getLayoutProp('colortextoboton',layout?layout.colortextoboton:'')]];background-color:[[:~getLayoutProp('colorboton',layout?layout.colorboton:'')]]">
        </div>
      </div>

      <form class="w-clearfix" data-name="perfil" id="preferencias" name="preferencias">

        <input type="hidden" name="fondo" value="[[:~getLayoutProp('fondo',layout?layout.fondo:'')]]">
        <input type="hidden" name="foto" value="[[:~getLayoutProp('foto',layout?layout.foto:'')]]">
        
        <div class="w-col w-col-4">
          <h3>Datos básicos</h3>
          <label for="nombre">ID</label>
          <input class="input w-input" maxlength="256" name="nombre" placeholder="Key" type="text" value="[[:key]]" disabled>
          <label for="Apellido">Implementación</label>
          <input class="input w-input" maxlength="256" name="titulo" placeholder="Lote 10" type="text" value="[[if data && data.titulo]][[:data.titulo]][[/if]]" required>
          <label for="Email-7">Email</label>
          <input class="input w-input" maxlength="256" name="email" placeholder="ale@gmail.com" type="email" value="[[if data && data.email]][[:data.email]][[/if]]" required>
        </div>
        <div class="w-col w-col-4">
          <h3>Estilos personalizados</h3>
          <div class="w-col w-col-6">
            <label for="telefono">Color de fondo</label>
            <input type="text" name="colorfondo" id="colorfondo" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[:~getLayoutProp('colorfondo',layout?layout.colorfondo:'')]]">
          </div>
          <div class="w-col w-col-6">
            <label for="telefono">Color de texto</label>
            <input type="text" name="colortexto" id="colortexto" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[:~getLayoutProp('colortexto',layout?layout.colortexto:'')]]">
          </div>
          <div class="w-col w-col-6">
            <label for="telefono">Color de botón</label>
            <input type="text" name="colorboton" id="colorboton" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[:~getLayoutProp('colorboton',layout?layout.colorboton:'')]]">
          </div>
          <div class="w-col w-col-6">
            <label for="telefono">Color de texto del botón</label>
            <input type="text" name="colortextoboton" id="colortextoboton" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[:~getLayoutProp('colortextoboton',layout?layout.colortextoboton:'')]]">
          </div>

          <label for="telefono">Fuente</label>
          <select class="w-select" name="fuente">
            <option value="Varela Round">Varela Round</option>
          [[for datosdeapoyo.fuentes]]
            <option value="[[>#data]]"[[if ~root.layout && ~root.layout.font == #data]] selected[[/if]]>[[>#data]]</option>
          [[/for]]
          </select>
        </div>
        <div class="w-col w-col-4">
          <h3>Datos generales</h3>
          <label for="telefono">Teléfono</label>
          <input class="input w-input" maxlength="256" name="telefono" placeholder="Teléfono" type="text" value="[[if data && data.telefono]][[:data.telefono]][[/if]]">
          <label for="telefono">Dirección</label>
          <input class="input w-input" maxlength="256" id="direccion" name="direccion" placeholder="Dirección" type="text" value="[[if data && data.direccion]][[:data.direccion]][[/if]]">          
          <label for="telefono">Descripción</label>
          <textarea class="input w-input expandable" id="descripcion" maxlength="5000" name="descripcion" placeholder="Describe la implementación">[[if data && data.descripcion]][[:data.descripcion]][[/if]]</textarea>
        </div>
        <div class="w-col w-col-12">
          <input class="w-button" data-ix="hidemodal" type="button" value="Cerrar">
          <input class="buttons w-button" data-wait="Guardando..." type="submit" value="Guardar cambios">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>  
  </script>