    <script id="preferencias" type="text/x-jsrender">
      <div class="form-wrapper w-form2">
        <form class="publish__uploadimages--form" method="post" action="" enctype="multipart/form-data">
          <input hidden="true" class="photo" type="file" name="fondo" accept="image/*">
          <input hidden="true" class="photo" type="file" name="foto" accept="image/*">
        </form>

        <div class="publish__uploadimages--info"></div>

        <div class="publish__uploadimages--preview section-photos" style="background-color: [[if data  && data.layout && data.layout.colorfondo]][[:data.layout.colorfondo]][[else]]fff[[/if]]">
          <div class="fondo link-fondo" style="background-image:url([[if data && data.layout && data.layout.fondo]][[:data.layout.fondo]][[else]]/images/fondo-medidas.png[[/if]]);background-position: 0 0;background-size: cover;">
            <!--div class="button-container"><a class="picture-button w-button" data-name="imagen_logo" href="#">Subi una foto de perfil</a>
              <p class="picture-span">Subí una imagen en jpg o png de 900px x 200px aprox.</p>
            </div-->
          </div>
          <div class="foto link-foto" style="background-image:url([[if data  && data.layout && data.layout.foto]][[:data.layout.foto]][[else]]/images/foto-medidas.png[[/if]]);background-position: 0 0;background-size: cover;border-color:[[if data  && data.layout && data.layout.colorfondo]][[:data.layout.colorfondo]][[else]]fff[[/if]]">
            <!--div class="button-container"><a class="picture-button w-button" data-name="foto" href="#">Subi una foto de perfil</a>
              <p class="picture-span">Subí una imagen en jpg o png de 100px x 100px aprox.</p>
            </div-->
          </div>
          <div class="texto">
            <h3 style="color: [[if data && data.layout && data.layout.colortexto]][[:data.layout.colortexto]][[else]]#222[[/if]]">[[if data && data.titulo]][[:data.titulo]][[else]]Implementación[[/if]]</h3>
            <p style="color: [[if data && data.layout && data.layout.colortexto]][[:data.layout.colortexto]][[else]]#222[[/if]]">[[if data && data.descripcion]][[:data.descripcion]][[else]]Descripción de la implementación[[/if]]</p>
          </div>
          <div class="botones">
            <a class="item-home w-inline-block" href="#" style="color: [[if data && data.layout && data.layout.colortextoboton]][[:data.layout.colortextoboton]][[else]]#223c61[[/if]];background-color: [[if data && data.layout && data.layout.colorboton]][[:data.layout.colorboton]][[else]]#222[[/if]]">
              <h1 class="heading-2">Menú principal</h1>
            </a>
            <input class="buttons w-button" data-wait="Guardando..." type="button" value="Botón" style="color: [[if data && data.layout && data.layout.colortextoboton]][[:data.layout.colortextoboton]][[else]]#223c61[[/if]];background-color: [[if data && data.layout && data.layout.colorboton]][[:data.layout.colorboton]][[else]]#222[[/if]]">
          </div>
        </div>

        <form class="w-clearfix" data-name="perfil" id="preferencias" name="preferencias">

          <input type="hidden" name="fondo" value="[[if data && data.layout && data.layout.fondo]][[:data.layout.fondo]][[/if]]">
          <input type="hidden" name="foto" value="[[if data && data.layout && data.layout.foto]][[:data.layout.foto]][[/if]]">
          
          <div class="w-col w-col-4">
            <h3>Datos básicos</h3>
            <label for="nombre">ID</label>
            <input class="input w-input" maxlength="256" name="nombre" placeholder="Key" type="text" value="[[:key]]" disabled>
            <label for="Apellido">Implementación</label>
            <input class="input w-input" maxlength="256" name="titulo" placeholder="Lote 10" type="text" value="[[if data && data.titulo]][[:data.titulo]][[/if]]" required>
            <label for="Email-7">Email</label>
            <input class="input w-input" maxlength="256" name="email" placeholder="ale@gmail.com" type="email" value="[[if data && data.email]][[:data.email]][[/if]]" required>
          </div>
          <div class="w-col w-col-4">
            <h3>Estilos personalizados</h3>
            <div class="w-col w-col-6">
              <label for="telefono">Color de fondo</label>
              <input type="text" name="colorfondo" id="colorfondo" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[if data && data.layout && data.layout.colorfondo]][[:data.layout.colorfondo]][[else]]#ffffff[[/if]]">
            </div>
            <div class="w-col w-col-6">
              <label for="telefono">Color de texto</label>
              <input type="text" name="colortexto" id="colortexto" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[if data && data.layout && data.layout.colortexto]][[:data.layout.colortexto]][[else]]#333[[/if]]">
            </div>
            <div class="w-col w-col-6">
              <label for="telefono">Color de botón</label>
              <input type="text" name="colorboton" id="colorboton" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[if data && data.layout && data.layout.colorboton]][[:data.layout.colorboton]][[else]]#34c5e4[[/if]]">
            </div>
            <div class="w-col w-col-6">
              <label for="telefono">Color de texto del botón</label>
              <input type="text" name="colortextoboton" id="colortextoboton" class="input w-input minicolors" data-format="rgb" data-opacity=".5" value="[[if data && data.layout && data.layout.colortextoboton]][[:data.layout.colortextoboton]][[else]]#fff[[/if]]">
            </div>

            <label for="telefono">Fuente</label>
            <select class="w-select" name="pais">
              <option value="">Gibson</option>
            [[for datosdeapoyo.fuentes]]
              <option value="[[>#data]]"[[if ~root.data && ~root.data.fuente == #data]] selected[[/if]]>[[>#data]]</option>
            [[/for]]
            </select>
          </div>
          <div class="w-col w-col-4">
            <h3>Datos generales</h3>
            <label for="telefono">Teléfono</label>
            <input class="input w-input" maxlength="256" name="telefono" placeholder="Teléfono" type="text" value="[[if data && data.telefono]][[:data.telefono]][[/if]]">
            <label for="telefono">Dirección</label>
            <input class="input w-input" maxlength="256" name="direccion" placeholder="Dirección" type="text" value="[[if data && data.direccion]][[:data.direccion]][[/if]]">          
            <label for="telefono">Descripción</label>
            <textarea class="input w-input expandable" id="descripcion" maxlength="5000" name="descripcion" placeholder="Describe la implementación">[[if data && data.descripcion]][[:data.descripcion]][[/if]]</textarea>

            <label for="Plan-2">país</label>
            <select class="w-select" name="pais">
              <option value="">Seleccioná ...</option>
            [[for datosdeapoyo.paises]]
              <option value="[[>#data]]"[[if ~root.data && ~root.data.pais == #data]] selected[[/if]]>[[>#data]]</option>
            [[/for]]
            </select>
          </div>
          <div class="w-col w-col-12">
            <input class="w-button" data-ix="hidemodal" type="button" value="Cerrar">
            <input class="buttons w-button" data-wait="Guardando..." type="submit" value="Guardar cambios">
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>  
    </script>