body {
  font-family: "Gibson", Montserrat, sans-serif;
  color: #222;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 30px;
}

a {
  color:#223c61;
}

hr {
  border: none; 
  border-bottom: 2px solid #f2f2f2;
  margin:0.5rem 0;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

a {
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

textarea {
    height:80px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari */
}

textarea:focus {
    height:300px;
}

.w-nav-brand {
  width: 120px;
  height: 120px;
  background-image: url('../images/LifeIn-White.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.spinner{
  width:128px;
  margin-left:-64px;
}

.spinner-message{
  position:absolute;
  left:50%;
  margin-top:50%;
  width:300px;
  font-size:127%;
  line-height:182%;
  margin-left:-150px;
  display:none;
  text-align:center;
  background-color:black;
  opacity:.5
}

.spinner-container{
  pointer-events:none;
  position:fixed;
  width:100%;
  z-index: 99;
  padding-bottom:100%;
  top:50%;
  left:50%;
  margin-top:-50%;
  margin-left:-50%;
  animation:spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation:spinner-linspin 1568.23529647ms linear infinite
}

.spinner-rotator{
  position:absolute;
  width:100%;
  height:100%;
  -webkit-animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-left{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  overflow:hidden
}

.spinner-right{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden
}

.spinner-left{
  right:49%
}

.spinner-right{
  left:49%
}

.spinner-circle{
  box-sizing:border-box;
  position:absolute;
  width:200%;
  height:100%;
  border-style:solid;
  /*border-color:#223c61 #223c61 transparent;*/
  border-color:#223c61 #223c61 transparent;
  border-radius:50%;
  border-width:6px
}

.mj-big-mode .spinner-circle{
  border-width:12px
}

.spinner-left .spinner-circle{
  border-right-color:transparent;
  -webkit-animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-right .spinner-circle{
  left:-100%;
  border-left-color:transparent;
  -webkit-animation:mj-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:mj-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

@-webkit-keyframes spinner-linspin{
  to{
    -webkit-transform:rotate(360deg)
  }
}

@keyframes spinner-linspin{
  to{
    transform:rotate(360deg)
  }
}

@-webkit-keyframes spinner-easespin{
  12.5%{
    -webkit-transform:rotate(135deg)
  }
  25%{
    -webkit-transform:rotate(270deg)
  }
  37.5%{
    -webkit-transform:rotate(405deg)
  }
  50%{
    -webkit-transform:rotate(540deg)
  }
  62.5%{
    -webkit-transform:rotate(675deg)
  }
  75%{
    -webkit-transform:rotate(810deg)
  }
  87.5%{
    -webkit-transform:rotate(945deg)
  }
  to{
    -webkit-transform:rotate(1080deg)
  }
}

@keyframes spinner-easespin{
  12.5%{
    transform:rotate(135deg)
  }
  25%{
    transform:rotate(270deg)
  }
  37.5%{
    transform:rotate(405deg)
  }
  50%{
    transform:rotate(540deg)
  }
  62.5%{
    transform:rotate(675deg)
  }
  75%{
    transform:rotate(810deg)
  }
  87.5%{
    transform:rotate(945deg)
  }
  to{
    transform:rotate(1080deg)
  }
}

@-webkit-keyframes spinner-left-spin{
  0%{
    -webkit-transform:rotate(130deg)
  }
  50%{
    -webkit-transform:rotate(-5deg)
  }
  to{
    -webkit-transform:rotate(130deg)
  }
}

@keyframes spinner-left-spin{
  0%{
    transform:rotate(130deg)
  }
  50%{
    transform:rotate(-5deg)
  }
  to{
    transform:rotate(130deg)
  }
}

@-webkit-keyframes mj-right-spin{
  0%{
    -webkit-transform:rotate(-130deg)
  }
  50%{
    -webkit-transform:rotate(5deg)
  }
  to{
    -webkit-transform:rotate(-130deg)
  }
}

@keyframes mj-right-spin{
  0%{
    transform:rotate(-130deg)
  }
  50%{
    transform:rotate(5deg)
  }
  to{
    transform:rotate(-130deg)
  }
}

.mj-normal-css-loaded{
  display:none
}

.spinner-container{
  width:50px;
  padding-bottom:50px;
  margin-top:-25px;
  margin-left:-25px
}

.mj-big-mode .mj-watch-later-icon .spinner-container{
  width:35px;
  padding-bottom:35px;
  margin-top:-17.5px;
  margin-left:-17.5px
}

.mj-watch-later-icon .spinner-circle{
  border-width:3px
}

.mj-big-mode .mj-watch-later-icon .spinner-circle{
  border-width:5px
}

.contenedor-login {
  display: none;
  width: 60%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #fff;
}

.homepage-bg {
  background-color: #223c61;
}

.login-form {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;
  width: 90px;
  margin-bottom: 30px;
  margin-left: 5%;
}

.buttons {
  border-radius: 6px;
  background-color: #223c61;
  font-weight: 500;
}

.buttongreen {
  background-color: #f1f1f1;
  color: #223c61;
}

.right {
  float: right;
}

.text-link {
  color: #223c61;
}

.text-muted {
  color: #c7c7c7; 
}

.text-link.action {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.text-link.margin-bottom {
  margin-bottom: 10px;
}

.heading {
  padding-bottom: 10px;
  text-transform: uppercase;
}

.input {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}

.succes {
  background-color: #fff;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  background-color: #fff;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;  
}

.header-brand {
  width: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sections-conteiner {
  display: none;
  width: 60%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.item-home {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.item-home:hover {
  background-color: #223c61;
  color: #fff;
}

.item-spotify {
  background-color: #223c61;
  color: #fff;
}

.lista {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.lista-wide {
  margin-right: -10px;
  margin-left: -10px;
}

.list-item {
  width: 20%;
  padding-top: 10px;
}

#detail {
  display: none;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #f3f3f8;
}

.row.title {
  font-weight: 700;
  text-transform: uppercase;
}

.publish__uploadimages--preview{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.fondo {
  position: absolute;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.foto {
  position: absolute;
  bottom:15px;
  left:20px;
  border: 4px solid #fff;
  width:120px;
  height:120px;
  border-radius: 50%;
  cursor: pointer;
}

.texto {
  position: absolute;
  bottom: 20px;
  left: 160px;
}

.texto h3 {
  margin-bottom: 0;
}

@keyframes flash {
  0% { background:#fff; }
  50% { background:#feffd4; }
  100% { background:#fff; }
}

.saving {
  animation: flash 1s ease-in-out;
}

.saved {
  background:#feffd4;
}

.unsaved {
  background-color: #46ff8c;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px 0 #888;
}

.alert-text {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #223c61;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.warning-text {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: lightgreen;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.form-wrapper {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.form-wrapper.margin-top {
  margin-top: 30px;
}

.conteiner-audios {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.item-audio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-audio.playing {
  opacity: 0.5;
}

.tabs {
  background-color: #fff;
  font-weight: 300;
}

.tab-link {
  background-color: transparent;
  text-transform: uppercase;
}

.tab-link.w--current {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e9e9e9;
  box-shadow: inset 0 0 8px -6px rgba(0, 0, 0, .97);
}

.tabs-content {
  margin-top: 10px;
}

.song {
  position: relative;
  width: 9%;
  margin: 10px 1%;
  padding: 10px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #dddadd;
  opacity: 1; 
  cursor: pointer;
  transform: scale(1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;  
}

.song.maybother {
  opacity: 0.199999;
}

.song .spotify-maybother {
  display: block;
}

.song.grow .spotify-maybother {
  display: none;
}

.song .eliminar {
  width: 14px;
  height: 18px;
  padding: 22px;
  background: url(../images/rubbish.svg) no-repeat center center;
  float: right;
  cursor: pointer;
}

.song .w-nav-menu {
  margin: 0
}

.song .spotify-box {
  display: none;
  background-color: #38061e;
  color: #fff;
  padding:.2rem;
  height: 300px;
  overflow: auto;
}

.song .spotify-box .logo {
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0.5;
  background-image: url(../images/spotify-vector-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.song .spotify-box > .track {
  border-bottom: 1px solid #800f47;
  display: flex;
  padding: 0.1rem;
  padding-top: 0;
  width: 100%;
}

.song .spotify-box > .track.selected {
  background-color: #800f47;
}

.song .spotify-box > .track img {
  float: left;
  margin: 5px;
  margin-left: 0;
  width: 64px;
  height: 64px;
  border:2px solid #b5427b;
  border-radius: 5px;
  box-shadow: 0 0 10px #a94476;
}

.song .spotify-box > .track .text {
  float: left;
  padding-top: 0.5rem;
  max-width: 75%;
}

.song .spotify-box > .track:hover {
  background-color: #800f47;
  cursor: pointer;
}

.song .spotify-box > .track p {
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 5px;
}

.upload {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: transparent;
  color: #000;
}

.upload:hover {
  background-color: #000;
  color: #fff;
}

.topsongs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.consulta {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.datos {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #eef;
}

.txt-coti {
  margin-bottom: 10px;
}

.div-block {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.filtro {
    width: auto;
    margin: 5px 0;
}

.node-add {
  background-image: url("../images/add-circle.svg");
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer {
  position: fixed;
  width: 100%;
  height: 25px;
  background-color: #fff;
  bottom: 0;
}

.footer p {
  float: left;
  font-size: 14px;
  line-height: 24px;
  margin-right:10px;
}

.subnav {
  width: 100%;
  background-color: #fff;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

@keyframes pulse {
  0% { opacity: 1 }
  50% { opacity: 0.3 }
  100% { opacity: 1 }
}

@media (max-width: 2048px) {
  .song {
    width: 18%;
  }
}

@media (max-width: 1660px) {
  .song {
    width: 18%;
  }
}

@media (max-width: 1220px) {
  .song {
    width: 23%;
  }
}

@media (max-width: 991px) {
  .song {
    width: 31%;
  }
}

@media (min-width: 991px) and (min-height: 420px){
  .song.grow {
    transition: all .3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 10001;
    margin: 150px auto;
    margin-bottom: 90px;
  }
}

@media (max-width: 767px) {

  .sections-conteiner {
    width: 80%;
  }
  .list-item {
    width: 50%;
  }
  .form-wrapper {
    width: 80%;
  }
  .div-block {
    width: 90%;
  }
}

@media (max-width: 479px) {
  body {
    padding-bottom: 70px;
  }
  .subnav {
    position: fixed;
    bottom: 25px;
    width: 100%;
    left: 0;
    padding: 10px;
    z-index: 98;
  }
  .contenedor-login {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: none;
  }
  .sections-conteiner {
    width: 94%;
    margin-top: 40px;
  }
  .item-home {
    margin-bottom: 10px;
  }
  .form-wrapper {
    width: 90%;
  }
  .heading-2 {
    font-size: 16px;
    line-height: 26px;
  }
  .song {
    width: 90%;
    margin: 10px 5%;
  }
}